@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

/* Add this CSS to your styles.css or your CSS file */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(107, 70, 193, 0.7);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(107, 70, 193, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(107, 70, 193, 0);
  }
}
